
*{
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.parent, .secondparent {
  width: 97vw;
  height: 97vh;
  border: 5px solid black;
}
.secondparent > p {
	background-color: violet;
	padding: 5vmin;
}

.parent > p {
  background-color: red;
}

.parent > div {
  background-color: blue;
}

#child h1 {
  background-color: orange
}

/*#child:first-child{
	color: white;
}*/

